.tile {
    width: 40px;
    height: 40px;
    background-color: #CCC;
}

.revealed {
    background-color: #AAA;
}

.mine {
    background-color: #000;
}

.one-mine {
    background-color: rgb(65, 82, 179);
}

.two-mine {
    background-color: rgb(58, 201, 77);
}

.three-mine {
    background-color: rgb(179, 65, 65);
}

.four-mine {
    background-color: rgb(205, 230, 69);
}

.board-row {
    line-height: 0;
}

#board {
    border-collapse: collapse;
}