.tile {
    width: 32px;
    height: 32px;
    background-image: url("../img/minesprites.png");
    background-position: -32px -1792px;
    border: none;
}

.board-row {
    line-height: 0;
}

#board {
    border-collapse: collapse;
}

body {
    display: flex;
}

#sidebar {
    
}